<!-- <div class="loginColumns animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="card-header  font-weight-bold">
          <h4>Update Profile</h4>
        </div>
        <div class="card card-body">
          <form [formGroup]="frmSignup" (submit)="submit()">
            <div class="form-group">
              <label for="password"
                [ngClass]="frmSignup.controls['password'].invalid ? 'text-primary' : ''">Password:</label>
              <input id="password" formControlName="password" type="password" class="form-control"
                [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
                <div [hidden]="!frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
              <label class="col"
                [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-primary' : 'text-success'">
                <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                    'check_circle' }}</i>
                Must be at least 8 characters!
              </label>
            </div>
          </div>
            <div class="form-group">
              <label for="confirmPassword"
                [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-primary' : ''">Confirm
                Password:</label>
              <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
              <label class="text-primary" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                Password is Required!
              </label>
              <label class="text-primary" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                Password do not match
              </label>
            </div>
            <div class="form-group">
              <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">Update</button>
            </div>
            <div class="form-group">
              <button type="button" (click)="logout()" class="btn btn-secondary btn-block font-weight-bold">Logout</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div> -->





<!-- <div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div
        class="login100-form-title mt-2"

      >
        <h2 style="color: white">ChangePassword</h2>
      </div>
      <form  [formGroup]="frmSignup" (submit)="submit()"
        enctype="multipart/form-data"
        role="form"
        class="login100-form validate-form"
      >
        <div class="wrap-input100 validate-input m-b-26">
          <label
            for="password"
            class="label-input100"
            [ngClass]="
              frmSignup.controls['password'].invalid ? 'text-primary' : ''
            "
            >Password:</label
          >
          <input
            id="password"
            formControlName="password"
            type="password"
            class="input100"
            [ngClass]="
              frmSignup.controls['password'].invalid ? 'is-invalid' : ''
            "
          />
          <div [hidden]="!frmSignup.controls['password'].invalid ? 'is-invalid' : ''"></div>
        </div>
        <label
          class="col"
          [ngClass]="
            frmSignup.controls['password'].hasError('required') ||
            frmSignup.controls['password'].hasError('minlength')
              ? 'text-primary'
              : 'text-success'
          "
        >
          <i class="material-icons">{{
            frmSignup.controls["password"].hasError("required") ||
            frmSignup.controls["password"].hasError("minlength")
              ? "cancel"
              : "check_circle"
          }}</i>
          Must be at least 8 characters!
        </label>

        <div
          class="wrap-input100 validate-input m-b-18"
          data-validate="Password is required"
        >
          <label
            for="confirmPassword"
            class="label-input100"
            [ngClass]="
              frmSignup.controls['confirmPassword'].invalid
                ? 'text-primary'
                : ''
            "
            >Confirm Password:</label
          >
          <input
            id="confirmPassword"
            formControlName="confirmPassword"
            type="password"
            class="input100"
            [ngClass]="
              frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''
            "
          />

          <span class="focus-input100"></span>
        </div>
        <div class="col-md-12">
          <label
            class="text-primary"
            *ngIf="frmSignup.controls['confirmPassword'].hasError('required')"
          >
            Password is Required!
          </label>
          <label
            class="text-primary"
            *ngIf="
              frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')
            "
          >
            Password do not match
          </label>
        </div>
        <br />
        <div class="col-md-12 mt-4">
          <div class="col-md-6 float-left">
            <button
              type="submit"
              [disabled]="frmSignup.invalid"
              class="btn btn-w-m btn-success btn-rounded custom-login-btn"
            >
              Update
              <ng-container></ng-container>

              <ng-template #noLoader> Confirm </ng-template>

              <ng-template #loader>
                <img src="assets/img/ajax-loader.gif" />
              </ng-template>
            </button>
          </div>
          <div class="col-md-6 float-right">
            <button
              type="submit"
              (click)="logout()"
              class="btn btn-w-m btn-success btn-rounded custom-login-btn"
            >
              Logout
              <ng-container></ng-container>

              <ng-template #noLoader> Confirm </ng-template>

              <ng-template #loader>
                <img src="assets/img/ajax-loader.gif" />
              </ng-template>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->




<form  [formGroup]="frmSignup" (submit)="submit()" style="margin-top: 30px;">
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0" >
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 pb-5">

                  <!-- <div class="row"> <img src="assets/img/MicrosoftTeams-image.png" class="logo"> </div> -->
                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                <h2>ChangePassword</h2>
                  <div class="row px-3 mt-2">

                    <label for="password" class="mb-1" [ngClass]="frmSignup.controls['password'].invalid ? 'text-primary' : ''">
                          <h6 class="mb-0 text-sm">Password</h6>
                      </label>
                      <input class="mb-4" id="password" formControlName="password" type="password" placeholder="Enter Password"
                       [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
                       <div [hidden]="!frmSignup.controls['password'].invalid ? 'is-invalid' : ''"> </div>
                    </div>
                    <label class="col" style="margin-top: -22px;"
                    [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-primary' : 'text-success'">
                    <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                        frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                        'check_circle' }}</i>
                    Must be at least 8 characters!
                  </label>
                  <div class="row px-3 mt-5"> <label class="mb-1" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-primary' : ''">
                          <h6 class="mb-0 text-sm">Confirm Password</h6>
                      </label> <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Enter Confirm password"
                      [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                      <label class="text-primary" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                        Password is Required!
                      </label>
                      <label class="text-primary" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                        Password do not match
                      </label>
                    </div>
                          <div class="row mb-3 px-3 mt-3 "> <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-blue text-center">Update</button> </div>
                  <div class="row mb-4 px-3"> <small class="font-weight-bold">Please Login to Click Here? <a class="text-danger "  (click)="logout()">Logout</a></small> </div>
              </div>
          </div>
      </div>
      <div class="bg-blue py-4">
          <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
          </div>
      </div>
  </div>
</div>
</form>
