<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <div class="input-group mt-2 ml-2" *ngIf="hasRole == true">
            <input type="text" class="form-control" placeholder="Enter Employee Code" [(ngModel)]="EmployeeCode"
                (keyup.enter)="getEmployeeInfo()" appTwoDigitDecimaNumber maxlength="5">
        </div>
    </div>
    <div class="col-lg-2 Adjust">
        <div class="input-group mt-2 ml-2" *ngIf="hasRole == true">
            <button type="button" class="btn btn-lg btn-success" (click)="getEmployeeInfo()"><i class="fa fa-search"
                    aria-hidden="true"></i> Search</button>
        </div>
    </div>
    <div class="col-lg-4 Adjust"></div>
    <div class="col-lg-2 Adjust ">
        <div class="input-group mt-2">
            <button type="button" class="btn btn-lg btn-light float-right" (click)="resetEmpForm()"><i
                    class="fa fa-redo" aria-hidden="true"></i> Reset</button>
        </div>
    </div>
</div>
<div class="container emp-form mt-2">
    <form [formGroup]="EmployeeForm" role="form" class="bg-white m-2 mt-3">
        <div class="row mb-2">
            <div class="col-md-4">
                <div>
                    <img src="assets/css/patterns/Menzieslogo.png" style="width: 55%; height: 52%; margin-top: 23px" />
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="mt-4 font-weight-bold text-center">Employee Exit Form</h3>
            </div>
            <div class="col-md-4">
                <span class="float-right mt-4"> Effective Date: {{currentDate}} </span>
            </div>
        </div>

        <div class="basic-information">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Emp Code: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control" formControlName="EmployeeRefNo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Employee Name: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control" formControlName="EmployeeName" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Date of Joining: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" readonly class="form-control" formControlName="JoiningDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Gender: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control" formControlName="Sex" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Resignation Date: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" class="form-control" formControlName="ResignationDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Last working Date: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" readonly class="form-control" formControlName="LeavingDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label> Station: </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" readonly class="form-control" formControlName="BranchTitle" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label> Grade: </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" readonly class="form-control" formControlName="EmployeeGradeTitle" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label> Designation: </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" readonly class="form-control" formControlName="DesignationTitle" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label> Supervisor: </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" readonly class="form-control" formControlName="ApproverName" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="primary-reason mt-4">
            <ng-container *ngFor="let p of statementResponseModel">
                <p>
                    {{p.statementDescription}}
                </p>
                <div class="row">
                    <div class="col-md-6" *ngFor="let SD of SrveyDetailResponse">
                        <div class="form-check">
                            <ng-container *ngIf="p.statementID == SD.statementID">
                                <input type="checkbox" name="statementChecked"
                                    (click)="statementCheck(SD,statementChecked.checked)" [checked]="p.statementChecked"
                                    #statementChecked value="{{ SD.statementChecked }}" />
                                <label for="vehicle1" class="fontsize"> {{SD.statementDetail}}</label>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div [ngClass]="{'primary-reason': JobFeedBackStatement == false, 'my_class2' : JobFeedBackStatement == true }">
            <p>Job Feedback</p>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/css/patterns/Capture.PNG" class="img-fluid" />
            </div>
        </div>
        <div class="primary-reason mt-4">
            <ng-container *ngFor="let p of feedBackStatementResponseModel">
                <div class="statement-table table-responsive mt-3">
                    <table>
                        <tr>
                            <td class="bgcolorNew" style="width: 60%;"><b>Statements</b></td>
                            <td class="bgcolorNew"><span><b>1</b></span></td>
                            <td class="bgcolorNew"><span><b>2</b></span></td>
                            <td class="bgcolorNew"><span><b>3</b></span></td>
                            <td class="bgcolorNew"><span><b>4</b></span></td>
                            <td class="bgcolorNew"><span><b>5</b></span></td>
                        </tr>
                    </table>
                </div>
                <div class="primary-reasonNew">
                    <p>
                        <b>{{p.feedBackStatement}}</b>
                    </p>
                </div>
                <ng-container *ngFor="let fd of feedBackStatementResponseModelNew">
                    <ng-container *ngIf="p.feedbackStatementID == fd.feedbackStatementID">
                        <div class="statement-table table-responsive">
                            <table>
                                <tr>
                                    <td style="width: 60%">{{fd.feedBackStatementDetail}}</td>
                                    <td class="text-center"><input type="checkbox" name="optionOne"
                                            (click)="checkFeedback(fd,optionOne.checked,'optionOneCheck');"
                                            [checked]="fd.optionOne" #optionOne value="{{ fd.optionOne }}" /></td>

                                    <td class="text-center"><input type="checkbox" name="optionTwo"
                                            (click)="checkFeedback(fd,optionTwo.checked,'optionTwoCheck')"
                                            [checked]="fd.optionTwo" #optionTwo value="{{ fd.optionTwo }}" /></td>

                                    <td class="text-center"><input type="checkbox" name="optionThree"
                                            (click)="checkFeedback(fd,optionThree.checked,'optionThreeCheck')"
                                            [checked]="fd.optionThree" #optionThree value="{{ fd.optionThree }}" /></td>

                                    <td class="text-center"><input type="checkbox" name="optionFour"
                                            (click)="checkFeedback(fd,optionFour.checked,'optionFourCheck')"
                                            [checked]="fd.optionFour" #optionFour value="{{ fd.optionFour }}" /></td>
                                            
                                    <td class="text-center"><input type="checkbox" name="optionFive"
                                            (click)="checkFeedback(fd,optionFive.checked,'optionFiveCheck')"
                                            [checked]="fd.optionFive" #optionFive value="{{ fd.optionFive }}" /></td>
                                </tr>
                            </table>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>

        <div [ngClass]="{'primary-reason': SecondLastStatement == false, 'my_class2' : SecondLastStatement == true }"
            style="margin-top: 20px;">
            <p id="recommend">
                Would you recommend RAS as a good organization to work for?
            </p>
        </div>
        <div class="row text-center">
            <div class="col-md-4" *ngFor="let p of hardCodeArrOne">
                <div class="form-check">
                    <input type="checkbox" name="optionChecked" (click)="checkBoxStatementOne(p,optionChecked.checked)"
                        [checked]="p.optionChecked" #optionChecked value="{{ p.optionChecked }}" />
                    <label class="fontsize">{{p.name}}</label>
                </div>
            </div>
        </div>
        <div [ngClass]="{'primary-reason': LastStatement == false, 'my_class2' : LastStatement == true }">
            <p id="future">
                I would consider working for this company again in the future.
            </p>
        </div>
        <div class="row text-center">
            <div class="col-md-4" *ngFor="let p of hardCodeArrTwo">
                <div class="form-check">
                    <input type="checkbox" name="optionChecked" (click)="checkBoxStatementTwo(p,optionChecked.checked)"
                        [checked]="p.optionChecked" #optionChecked value="{{ p.optionChecked }}" />
                    <label class="fontsize">{{p.name}}</label>
                </div>
            </div>
        </div>
        <div class="primary-reason mt-4">
            <p>
                What has your new place of employment offered you that is more attractive
                than your present job?
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" formControlName="firstTextArea" (change)="firstTextAreaChanged()"
                    [ngClass]="{ 'is-invalid': submitted && f.firstTextArea.errors }"></textarea>
                <div *ngIf="submitted && f.firstTextArea.errors" class="invalid-feedback">
                    <div *ngIf="f.firstTextArea.errors.required">This Field Cannot be Empty!</div>
                </div>
            </div>
        </div>
        <div class="primary-reason mt-4">
            <p>
                What are your recommendations or feedback for making RAS a better place to
                work?
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" formControlName="secondTextArea" (change)="secondTextAreaChanged()"
                    [ngClass]="{ 'is-invalid': submitted && f.secondTextArea.errors }"></textarea>
                <div *ngIf="submitted && f.secondTextArea.errors" class="invalid-feedback">
                    <div *ngIf="f.secondTextArea.errors.required">This Field Cannot be Empty!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <button type="button" class="btn btn-w-m btn-dark text-black mt-3"
                    (click)="submitEmployeeForm()">Submit</button>
            </div>
        </div>
    </form>
</div>