.WSize {
    flex: 0 1 11.666667%;
}
.Working{
    background: #36bc8c;
    color: #fff;
}
.NotWorking{
    background: #d44f5a;
    color: #fff;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .modal-xl {
    max-width: 1050px !important;
}