<div class="main">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" style="background-color: #8f2e2e">
          <h2 style="color: white">Search Employee</h2>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">

          </div>
          <div class="col-md-8 text-center">
            <input type="text" name="empId" class="form-control mt-3 d-block"
              style="width: 98% !important; border-width: 1px; padding: 12px 10px; " autocomplete="off" required
              placeholder="Enter Employee Code" maxlength="5" />
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-12 text-center mt-3">
            <button type="button" class="btn btn-lg btn-success ml-2"> Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>